# Compiled object files
*.o

# Executables
*.exe
*.out

# IDE
.vscode/
.idea/
*.swp
*.swo
CMakePresets.json
CMakeUserPresets.json

# OS
.DS_Store
Thumbs.db

# Build directories
build/
bin/
obj/

**/external/SDL2/
**/external/lib/